@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Poppins:ital,wght@0,600;0,900;1,600;1,700;1,900&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lato' sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #111;
    color: #ff7d00;
    font-size: 28px;
}
div.logo{
    border-bottom: 1px solid #753b04;
    padding: 0.5rem;
}
.logo a{
    color: #ff7d00;
    text-align: center;
    margin: 8rem;
    font-size: 3rem;
    font-weight: bolder;
}
.text p{
    position: absolute;
    left: 3rem;
    font-size: 3.8rem;
    width: 50%;
    top: 10rem;
    color: #fff;
    text-align: center;
    letter-spacing: 1.3;
    word-spacing: 1;
}
.text span{
    position: absolute;
    left: 3rem;
    font-size: 1.8rem;
    text-align: center;
    width: 40%;
    top: 20rem;
    color: #ff7d00;
    font-style: italic;
    margin-left: 1.5rem;
    letter-spacing: 1.5;
}

.logo span{
    color: #fff;
}
.welcome-intro{
    position: absolute;
    left: 7rem;
    width: 45%;
    margin-top: 5rem;
    font-family: 'Lato', sans-serif;
}
.welcome-intro > span.welcome-title{
    color: #ff7d00;
    font-size: 5rem;
    letter-spacing: 1.3;
    margin-top: 3rem;
}
.name-intro p{
    letter-spacing: 1.8;
    font-size: 5rem;
    font-weight: bolder;
    color: #fff;
}
.buttons{
    margin-top: 3.5rem;
}
.buttons a{
    background: #633204;
    margin-right: 1.5rem;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    font-family:'lato', sans-serif;
    font-weight: bolder;
    letter-spacing: 1.3;
    border-radius: .4rem;
}
.buttons a:nth-child(2){
    background: transparent;
    border: 2px solid #ff7d00;
}
.buttons a:nth-child(2):hover{
    background: #633204;
    border: 2px solid #ff7d00;
}

/* ===== POINTER EFFECT STYLING ===== */
.cursor{
    position: fixed;
    z-index: 3;
    width: 80px;
    height: 80px;
    border: 4px solid #c76306;
    border-radius: 40%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: .1s ease
}
.cursor2{
    position: fixed;
    z-index: 3;
    width: 40px;
    height: 40px;
    background: #290101;
    border: 1px solid #ff7d00;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition:  .1s ease

}

/* ==== ABOUT SECTION STYLE ===== */
    .container{
        position: relative;
        width: 100%;
        max-width: 1600px;
        height: 600px;
        background: #ddd;
        margin: auto 50px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        box-shadow: 0.35px 44px rgba(0,0,0,0,0.1);
    }

    /* ******* LEFT-SIDE STYLING ********** */
    .container .left-side{
        position: relative;
        background: #02202e;
        padding: 40px;
    }

    .profile-text{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(255,255,255,0.3);
    }
    .profile-text .profile-img{
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
    }
    .profile-text .profile-img img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .profile-text h2{
        color: #fff;
        font-size: 2.5rem;
        margin-top: 20px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        line-height: 1.2em;
        font-family: 'lato', sans-serif;
    }
    .profile-text h2 span{
        font-size: 2rem;
        font-weight: 900;
    }
    .contact-info{
        padding-top: 40px;
    }
    .contact-title{
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        letter-spacing: 1.5px;
        margin-bottom: 20px;
    }
    .contact-info ul{
        position: relative;
    }
    .contact-info ul li{
        position: relative;
        list-style: none;
        margin: 10px 0;
        cursor: pointer;
    }
    .contact-info ul li .icon{
        display: inline-block;
        width: 30px;
        font-size: 1rem;
        color: #ff7d00;
    }
    .contact-info ul li span{
        color: #fff;
        font-size: 25px;
        font-weight: 300;
    }
    .education-title{
        color: #fff;
        font-weight: 700;
        letter-spacing: 1.2;
        text-transform: uppercase;
    }
    .contact-info.education li{
        margin-bottom: 15px;
    }
    .contact-info.education h5{
        color: #ff7d00;
        font-family: 'lato', sans-serif;
        font-weight: 600;
        font-size: 2rem;
    }
    .contact-info.education h4:nth-child(2){
        color: #fff;
        font-weight: 700;
    }
    .contact-info.education h4{
        color: #fff;
        font-weight: 500;
        line-height: 1.3;
    }

    h3.interest-title{
        font-size: 2.2rem;
    }
    .interest h4{
        font-family: 'Lato', sanserif;
        font-size: 1.6rem;
        color: #ff7d00;
    }
    span.Welcome-title h1{
        font-size: 4.5rem;
        padding: 1rem;
        margin-top: 4rem;
        text-transform: uppercase;
    }
    span.btn-chat,
    span.btn-download{
        padding: 1rem .7rem;
        border-radius: 8px;
        background-color: #753b04;
    }
    span.btn-chat a,
    span.btn-download a{
        color: #eee;
    }
    span.btn-chat{
        margin-right: 1rem;
    }
    span.btn-download{
        background: transparent;
        border: 3px solid #753b04;
    }
    span.btn-download:hover{
        background: #753b04;
        transition: .5s ease-in;
    }
    /* ****** END LEFT-SIDE STYLING **********  */


/* ******* RIGHT-SIDE STYLING ********** */
    .container .right-side{
        position: relative;
        background: #111;
        padding: 40px;
    }
    .right-side > .navigation{
        margin-top: 1.5rem;
    }
    .about-section, .welcome-section{
        margin: 20px 0 50px 0;
        color: #fff;
    }
    .about-section, .welcome-section p{
        width: 100%;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .welcome-section span.text-quote{
        font-size: 1.6rem;
        color: #c76306;
    }
    h1.about-title{
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 2.5rem;
        color:#fff;
    }
    h2.about-title{
        text-align: center;
        margin-bottom: 30px;
        line-height: 1.5;
        font-size: 2.5rem;
        color: #fff;
    }
    .about-section .about-details{
        font-family: 'Lato', sans-serif;
        font-size: 2rem;
        line-height: 1.3;
    }
    .about-section:last-child{
        margin-bottom: 0;
    }
    .about-section .box{
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
    }
    .about-section .box .company-year{
        min-width: 200px;
    }
    .about-section .box .company-year h5{
        text-transform: uppercase;
        color: #fff;
        font-size: .87rem;
        margin-right: 10px;
        font-weight: 600;
        letter-spacing: 2.5;
    }
    .about-section .box .company-year h3{
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 10px 0 5px 0;
        font-family: 'Lato', sans-serif;
        font-weight:bolder;
        color: #fff;
    }
    .about-section .box .text-title h4,
    .about-section .box .text-title h5{
        text-transform: uppercase;
        color: #c76306;
        font-size: 2rem;
        line-height: 2rem;
    }
    .about-section .box .text-title h5{
        color: #ddd;
        font-size: 2rem;
        text-transform: uppercase;
    }
    .about-section .box .text-title p{
        color: rgb(250, 243, 243);
        font-size: 1.5rem;
        font-family: 'lato', sans-serif;
        line-height: 1.2;
        margin-top: .3rem;
    }
    .skills .box{
        position: relative;
        display: grid;
        grid-template-columns: 150px 1fr;
        align-items: center;
    }
    .skills > h2.about-title{
        text-align: center;
        margin-bottom: 5px; 
        line-height: 1.5; 
        font-size: 2.5rem;
        color: #fff;
    }
    .skills > h4.about-title{
        font-size: 2rem;
        color: #c76306
    }
    .box h4{
        text-transform: uppercase;
        letter-spacing: 1;
        font-size: 1.5rem;
        font-family: 'Lato', sans-serif;
    }
    .techs{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .techs .box h4{
        border:  1px solid #b65b06;
        text-align: center;
        padding: 10px 0;
        width: 210px;
        font-size: 1.5rem;
    }
    .techs .box h4:hover{
        border:  none;
        text-align: center;
        background: #b65b06;
        color: rgb(248, 241, 241);
        transition: all .6s ease-in;
    }

    .navigation{
        width: 18rem;
        max-height: 800px;
        background: #fff;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.05);
        transition: 0.5s;
        margin: auto;
        overflow: hidden;
    }
    .navigation, .menu{
        max-width: 100%;
        margin-top: 0;
    }

.navigation.active{
    width: 400px;
    justify-self: center;
}
.navigation .menu-toggle{
    position: relative;
    width: 60px;
    /* height: 20px; */
    display: flex;
    align-items: center;
    width:100%;
    margin-top: 2rem;
    padding: 5px 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

}
.navigation .menu-toggle::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform:translateY(-10px);
    transition: 0.5s;
}
.navigation .menu-toggle::after{
    content: '';
    position: absolute;
    width: 35px;
    height: 2px;
    background: #333;
    transform:translateY(10px);
    transition: 0.5s;
    box-shadow: 0 -10px #333;
}
.navigation.active .menu-toggle::before{
    transform: translateY(0px) rotate(45deg);
}
.navigation.active .menu-toggle::after{
    transform: translateY(0px) rotate(-45deg);
    box-shadow: 0 0 #333;
}
.navigation .profile{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0 10px;
    width:100%;
}
.navigation .profile .imgBx{
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 50%;
    overflow: hidden;
}

.navigation.active .profile .imgBx{
    width: 300px;
    height:300px;
}
.navigation .profile .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation .menu{
    position: relative;
    width: 100%;
    padding: 10px;
    transition: 0.5s;
    background-color: #02202e;
    border-top: 1px solid rgba(0, 0, 0, 0,05);
}
.navigation.active .menu{
    padding: 10px 20px;
}
.navigation .menu li{
    list-style: none;
}
.navigation .menu li a{
    position: relative;
    display: flex;
    text-decoration: none;
    color: #eee;
    border-radius: 50px; 
}
.navigation .menu li a:hover{
    background: #111;
    color: #ff7d00;
}
.navigation .menu li a .icon{
    position: relative;
    min-width: 60px;
    height: 60px;
    margin-top: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.navigation .menu li a .text{
    position: relative;
    height: 85px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
}
 /* ******* END RIGHT-SIDE STYLING ********** */

/* styles for about */
.about .about-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* about section styling */
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    margin: 5rem;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right{
    position: absolute;
    top: 0;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: #ff7d00;
}
.about .about-content .right p{
    text-align: justify;
}
.about .about-content .right a{
    display: inline-block;
    background: #ff7d00;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ff7d00;;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color:#ff7d00;;
    background: none;
}

/* ===== PROJECTS GALLERY ======= */
.slider-wrapper{
    position: relative;
    /* height: 250px; */
    width: 90%;
    max-width: auto;
    margin: 30rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
    overflow: hidden;
}
.slider-track{
    display: flex;
    width: calc(250*18);
    animation: scroll 40s linear infinite;
}
.slider-track:hover{
    animation-play-state: paused;
}
@keyframes scroll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-250px*3));
    }
}
.img-slide{
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    padding: 15px;
    overflow: hidden;
    perspective: 100px;
    cursor: pointer;
}
.img-slide img{
    width: 700px;
    max-width: 100%;
    min-height: 100%;
    margin: auto;
    object-fit: center;
    transition: transform 1s;
}
.img-slide img:hover{
    transform: translateZ(300px);
}
/* SHADOW EFFECT */
.slider-wrapper::before,
.slider-wrapper::after{
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    position: absolute;
    /* height: 100%; */
    width: 15%;
    z-index: 2;
}
.slider-wrapper::before{
    left: 0;
    top: 0;
}
.slider-wrapper::after{
    right: -2px;
    top: 0;
    transform: rotateZ(180deg);
}

/* ==== MEDIA QUERRIES ==== */
@media screen  and (max-width:1000px){
    body{
        overflow-x: hidden;
    }
    .container{
        margin: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .profile-img img{
        margin: auto;
    }
    a.arrow{
        display: block;
        margin: auto;
        width: 100px;
        font-size: 2rem;
        text-align: center;
        color: #eee;
        border-radius: 5px;
        background: #b65b06;
    }
    .name-intro p{
        font-size: 2rem;
    }
    .navigation{
        position: relative;
        top: 18rem;
        height: auto;
        margin: auto;
    }
    .track{
        display: flex;
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:767px){
    body{
        overflow-x: hidden;
    }
    .about-section .box{
        flex-direction: column;
    }
    .about-section .box .company-year{
        margin-bottom: 5px;
    }
    .text-title p{
        font-size: 2rem;
    }
    .profile-img img{
        margin: auto;
        justify-content: center;
    }
    .welcome-caption{
        display: none;
    }
    .welcome-intro {
        width: 100%;
    }
    .name-intro p{
        font-size: 3.5rem;
    }
}

@media only screen and (min-width:300px){
    .cursor, .cursor2{
        display: none;
    }
    .container .right-side {
        position: relative;
        background: #111;
        padding-top: 0;
        margin-top: 0;
    }
    .name-intro p{
        font-size: 3.2rem;
    }
    .logo a{
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
    }
    .contact-info.education h5{
        font-size: 1.2rem;
    }
    .techs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .navigation .menu li a .icon,
    .navigation .menu li a .text{
        font-size: 2rem;
    }
    .navigation .menu li a .icon{
        margin-top: .5rem;
    }
    span.btn-chat,
    span.btn-download{
        padding: .5rem;
        font-size: .5rem;
        border-radius: 8px;
        background-color: #753b04;
    }
}

