@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ========== GLOBAL STYLE VARIABLES ========= */
:root {
    /* ======= GREEN THEME ========= */
    --color-primary: #ff7b02;
    --color-primary-variant: #e5a55d;
    --color-bg-1: #000e17;
    --color-bg-2: #001e2d;
    --color-bg-3: #012734;
    --color-bg-4: #003347;
    --color-light: #85a2b2;
    --color-white: hsl(0, 0%, 90%);
    --grey-color: #fdfdfd;
  
    --container-width-lg: 88%;
    --container-width-md: 92%;
    --transition: all 400ms ease;
  }
  /* ========== END OF GLOBAL STYLE VARIABLES ========= */
  
  /* ========== GLOBAL STYLING  ========= */
  
  /* ****** PAGE RESET ***** */
  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
  }
  /* ****** /PAGE RESET ***** */
  
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-light);
    line-height: 1.7;
    overflow-x: hidden;
  }
  h1,
  h2 {
    line-height: 1.1;
    font-weight: 400;
  }
  h1 {
    font-size: 3rem;
    color: var(--color-light);
  }
  h2 {
    font-size: 4rem;
  }
  a {
    color: var(--color-light);
    transition: var(--transition);
  }
  a:hover {
    color: var(--color-primary);
    transition: var(--transition);
  }
  .container {
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 2160px;
  }
  img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
  /* ========== END OF GLOBAL STYLING  ========= */
  
  /* ============== NAVBAR ================*/
  
  nav {
    height: 5rem;
    width: 100%;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }
  /* NAV CLASS ON SCROLL USING JS */
  .window-scrolled {
    background: var(--color-bg-2);
    border-bottom: 0.2rem solid var(--color-bg-3);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0.3);
  }
  .nav-container {
    line-height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* FOR TABLETS & PHONES */
  .nav-toggle-btn {
    display: none;
  }
  .nav-logo {
    width: 7.5rem;
    font-size: 1rem;
    font-weight: bolder;
  }
  .nav-logo span{
    color: #ff7b02;
  }
  .nav-links{
    display: flex;
    gap: 4rem;
  }
  ul.nav-links li a{
     font-size: 1.5rem;
  } 
  .nav-socials {
    display: flex;
    gap: 1rem;
  }
  .nav-socials a {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(
      var(--color-primary-variant),
      var(--color-primary)
    );
    border-radius: 0.5rem;
    color: var(--color-bg-4);
    display: grid;
    place-items: center;
  }
  .nav-socials a:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0.4);
  }
  
  /* ============== THE HEADER ================*/
  header {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 0;
    background: linear-gradient(var(--color-bg-3), var(--color-bg-1));
    overflow: hidden;
  }
  .header-container {
    display: grid;
    grid-template-columns: 45% 60%;
    /* grid-template-columns: repeat(2, 1fr); */
    /* gap: 5%; */
    margin-top: 10rem;
    position: relative;
  }
  .header-image-bg {
    background: var(--color-bg-4);
    height: 22rem;
    width: 16rem;
    position: absolute;
  }
  .header-image-lg {
    width: 26rem;
    position: relative;
    top: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.3);
    transition: var(--transition);
  }
  .header-image-sm {
    width: 15rem;
    height: 18rem;
    overflow: hidden;
    position: absolute;
    left: 6rem;
    top: 6rem;
    transition: var(--transition);
  }
  .header-left:hover .header-image-sm {
    opacity: 0;
  }
  .header-left:hover .header-image-lg {
    filter: saturate(1) brightness(1);
    border: 1rem solid var(--color-bg-4);
    top: 0;
    left: 0;
  }
  .header-head {
    display: flex;
    gap: 1.8rem;
    align-items: flex-start;
  }
  
  /* General empty styles */
  .empty {
    height: 3.3rem;
    width: 12rem;
    background: var(--color-bg-2);
    border-radius: 3rem;
    margin-bottom: 3.5rem;
    box-shadow: inset 0 1rem 1rem rgba(0, 0, 0, 0.3);
    border: 1px solid var(--color-bg-4);
  }
  .header-tag {
    color: var(--color-primary-variant);
  }
  .header-right p,
  .title {
    margin-top: 0.2rem;
    width: 100%;
  }
  .action-btn{
      margin-top: 2rem;
      /* padding: 0.6rem 1.6rem; */
      font-weight: 600;
      border-radius: 0.3rem;
      display: flex;
  }
  .header-btn-md{
      font-size: 1.3rem;
      margin-right: 1rem;
  }
  .header-btn-md:hover {
      color: var(--grey-color);
    }
  /* this going to show only on tablets and phones */
  .header-btn-md {
    background: linear-gradient(
        135deg,
        var(--color-primary-variant),
        var(--color-primary)
      );
      color: var(--color-bg-2);
      display: inline-block;
      padding: 0.6rem 1.6rem;
      font-weight: 600;
      border-radius: 0.3rem;
  }


/* ==== ABOUT SECTION STYLE ===== */
#about-container{
    position: relative;
    width: 100%;
    max-width: 1600px;
    height: 600px;
    margin: 70px 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0.35px 44px rgba(0, 0, 0, 0, 0.1);
}

#main-section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 4fr;
    box-shadow: 0.35px 44px rgba(0, 0, 0, 0, 0.1);
}

/* ******* LEFT-SIDE STYLING ********** */
.about-container .left-side {
    position: relative;
    background: #02202e;
    padding: 40px;
}

.profile-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.profile-text .profile-img {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-text .profile-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text h2 {
    color: #fff;
    font-size: 2.5rem;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.2em;
    font-family: 'Poppins' sans-serif;
}

.profile-text span {
    font-size: 1.6rem;
    font-weight: 900;
    color: #eee;
}

.contact-info{
    padding-top: 40px;
}

.contact-title {
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

.contact-info ul {
    position: relative;
}

.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contact-info ul li .icon {
    display: inline-block;
    width: 30px;
    font-size: 1rem;
    color: #ff7d00;
}

.contact-info ul li span {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
}

.education-title {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1.2;
    text-transform: uppercase;
}

.contact-info.education li {
    margin-bottom: 15px;
}

.contact-info.education h5 {
    color: #ff7d00;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.contact-info.education h4:nth-child(2) {
    color: #fff;
    font-weight: 700;
}

.contact-info.education h4 {
    color: #fff;
    font-weight: 500;
    line-height: 1.3;
}

h3.interest-title {
    font-size: 2.2rem;
}

.interest h4 {
    font-family: 'Poppins' sans-serif;
    font-size: 1.6rem;
    color: #ff7d00;
}

span.btn-chat,
span.btn-download {
    padding: 1rem .7rem;
    border-radius: 8px;
    background-color: #02202e;
}

span.btn-chat a,
span.btn-download a {
    color: #eee;
}

span.btn-chat {
    margin-right: 1rem;
}

span.btn-download {
    border: 3px solid #02202e;
}

span.btn-download:hover {
    background: transparent;
    transition: .5s ease-in;
}
.about-container .left-side .action-btn,
.about-container .left-side .social-icons{
    padding: 30px;
}
.about-container .left-side .action-btn a button{
    width: 170px;
    height: 60px;
    font-size: 1.8rem;
    border-radius: 6px;
    background: #dde3e6;
    cursor: pointer;
}
.about-container .left-side .action-btn a button.cv-btn{
    width: 250px;
}
.about-container .left-side .social-icons{
    text-align: center;
}
.about-container .left-side .social-icons a i{
    color: #ccc6c6;
    font-size: 3rem;
    padding: .5rem;
}

/* ****** END LEFT-SIDE STYLING **********  */


/* ******* RIGHT-SIDE STYLING ********** */
.about-container .right-side {
    position: relative;
    background: #eee;
    color: #000;
    padding: 40px;
    border-left: rgb(102, 101, 101) solid 2px;
}

.about-section {
    margin: 20px 0 50px 0;
    color: #000;
}

.about-section {
    width: 100%;
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

h1.about-title {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 2.5rem;
    color: #fff;
}

h2.about-title {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 2.5rem;
    color: #02202e;
}

.about-section .about-details {
    font-family: 'Poppins' sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
}

.about-section:last-child {
    margin-bottom: 0;
}

.about-section .box {
    display: flex;
    flex-direction: row;
    margin: 2rem 0;
}

.about-section .box .company-year {
    min-width: 200px;
}

.about-section .box .company-year h5 {
    text-transform: uppercase;
    font-size: .87rem;
    margin-right: 10px;
    font-weight: 600;
    letter-spacing: 2.5;
}

.about-section .box .company-year h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 10px 0 5px 0;
    font-family: 'Poppins' sans-serif;
    font-weight: bolder;
    color: #fff;
}

.about-section .box .text-title h4,
.about-section .box .text-title h5 {
    text-transform: uppercase;
    color: #c76306;
    font-size: 1.5rem;
    line-height: 2rem;
}

.about-section .box .text-title h5 {
    color: #02202e;;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.about-section .box .text-title p {
    color: #02202e;
    font-size: 1.3rem;
    font-family: 'Poppins' sans-serif;
    line-height: 1.2;
    margin-top: .3rem;
}

.skills .box {
    position: relative;
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
}

.skills>h2.about-title {
    text-align: center;
    margin-bottom: 5px;
    line-height: 1.5;
    font-size: 2.5rem;
    color: #000
}

.skills>h4.about-title {
    font-size: 2rem;
    color: #c76306
}

.box h4 {
    text-transform: uppercase;
    letter-spacing: 1;
    font-size: 1.5rem;
    font-family: 'Poppins' sans-serif;
}

.techs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.techs .box h4 {
    border: 1px solid #02202e;
    text-align: center;
    padding: 10px 0;
    width: 210px;
    font-size: 1.5rem;
}

.techs .box h4:hover {
    border: none;
    text-align: center;
    background: #02202e;
    color: rgb(248, 241, 241);
    transition: all .6s ease-in;
}

/* ******* END RIGHT-SIDE STYLING ********** */

/* styles for about */
.about .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about .title::after {
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
    margin: 5rem;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .right {
    position: absolute;
    top: 0;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .about-content .right .text span {
    color: #ff7d00;
}

.about .about-content .right p {
    text-align: justify;
}

.about .about-content .right a {
    display: inline-block;
    background: #ff7d00;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #ff7d00;
    ;
    transition: all 0.3s ease;
}

.about .about-content .right a:hover {
    color: #ff7d00;
    ;
    background: none;
}


/* ===== PROJECTS GALLERY STYLING ======= */
#img-container{
  background: #ebedee;
  width: 100%;
  margin: 10rem auto;
  justify-content:center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  box-shadow: 3px 3px 10px #001e2d, -3px -3px 10px #001e2d;
}
.img-bx img.project-img{
  max-width: 95%;
  margin: auto;
}
.project-caption{
  display: flex;
  flex-direction: column;
  padding: .5rem;
  color: rgb(250, 240, 240);
}
.project-title{
  padding: 1rem;
  color: #fff;
}
.project-title, .project-caption{
  background: #003347;
  width: 95%;
  margin: auto;
}
.project-link{
  margin: 1rem;
}
.project-link a{
  font-size: 1.6rem;
  border: #e9e7e7 solid 1px;
  padding: .5rem;
  border-radius: 2px;
  color: rgb(250, 240, 240);
}
/* ===== /PROJECTS GALLERY STYLING ======= */

/* ================ MEDIA QUERIES (Medium screen) ============== */
@media screen and (max-width: 1024px) {
    body {
        overflow-x: hidden;
    }

    #about-container,
    #main-section {
        margin: 5px;
        grid-template-columns: repeat(1, 1fr);
    }

    .profile-img img {
        margin: auto;
    }

    a.arrow {
        display: block;
        margin: auto;
        width: 100px;
        font-size: 2rem;
        text-align: center;
        color: #eee;
        border-radius: 5px;
        background: #b65b06;
    }
    .container {
      width: var(--container-width-md);
      position: relative;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 1.3;
    }
    h2 {
      font-size: 2.5rem;
    }
    /* *********** NAV ****************** */
    .nav-socials {
      display: none;
    }
    .nav-links {
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column;
      gap: 0;
      display: none;
    }
    .nav-links li {
      height: 5rem;
      text-shadow: -3rem 3rem rgba(0, 0, 0, 0.7);
      animation: navAnimation 600ms ease forwards;
      transform: rotateX(90deg);
      opacity: 0;
      transform-origin: top;
    }
    .nav-links li:nth-child(2) {
      animation-delay: 200ms;
    }
    .nav-links li:nth-child(3) {
      animation-delay: 400ms;
    }
    .nav-links li:nth-child(4) {
      animation-delay: 600ms;
    }
    @keyframes navAnimation {
      to {
        transform: rotateX(0);
        opacity: 1;
      }
    }
  
    .nav-links li a {
      background: var(--color-bg-4);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 1rem 5rem 1rem 3rem;
      border-top: 1px solid var(--color-bg-2);
    }
    .nav-toggle-btn {
      display: inline-block;
      font-size: 2rem;
      cursor: pointer;
      background: transparent;
      color: var(--color-white);
    }
    #nav-toggle-close {
      display: none;
    }
    /* *********** HEADER **************** */
    header {
      height: fit-content;
      padding: 14rem 0 12rem;
      display: grid;
      place-items: center;
    }
    .header-image,
    .header-image-sm {
      display: none;
    }
    .header-container {
      grid-template-columns: 1fr;
      gap: 6%;
      margin: 0;
    }
    .header-image-lg {
      filter: saturate(1) brightness(1);
      border: 1rem solid var(--color-bg-2);
      top: 0;
      left: 0;
    }
    .empty {
      display: none;
    }
    .header-tag {
      margin-bottom: 1rem;
    }
    .header-right p {
      width: 100%;
      margin-top: 1.5rem;
    }
    .action-btn{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header-btn-md{
      margin-right: .45rem;
      width: 15rem;
      font-size: 1.2rem;
    }
    .header-btn-md {
      background: linear-gradient(
        135deg,
        var(--color-primary-variant),
        var(--color-primary)
      );
      color: var(--color-bg-1);
      margin-top: 2rem;
      display: inline-block;
      padding: 0.6rem 1.6rem;
      font-weight: 600;
      border-radius: 0.3rem;
    }
    .header-btn-md{
      margin-top: .5rem;
    }
    .header-btn-md:hover {
      color: var(--color-white);
    }
  }
  

  /* ==== MEDIA QUERRIES (medium screens)==== */
@media (max-width:1000px) { 
  body {
      overflow-x: hdden;
  }
  .about-container,
  #main-section {
      margin: 5px;
      grid-template-columns: repeat(1, 1fr);
  }
  .profile-img img {
      margin: auto;
  }
  .content {
      display: none;
  }
  .container .left-side .action-btn a button,
  .container .left-side .action-btn a .social-icons{
      width: 250px;
  }
  .container .left-side .action-btn a button.cv-btn{
      margin-top: .5rem;
  }
  .container .left-side .action-btn,
  .container .left-side .social-icons{
      text-align: center;
  }
  /* PROJECTS STYLING FOR RESPONSIVENESS */
  .img-bx{
    box-shadow: 0 0 5px #02202e;
  }
}
  /* =========== MEDIA QUERIES (small screens) ============== */
  @media screen and (max-width: 600px) {
    h1,
    h2 {
      font-size: 1.5rem;
      font-weight: bolder;
      line-height: 1.3;
      color: var(--color-white);
    }
    header {
      padding: 0;
      padding-bottom: 6rem;
    }
    .header-container {
      grid-template-columns: 1fr;
      gap: 1rem;
      text-align: center;
    }
    .header-image-lg {
      width: 80%;
      height: 20rem;
      margin: 0 auto;
      margin-top: 7rem;
      overflow: hidden;
      border-radius: 15rem 15rem 0 0;
    }
    .header-head {
      justify-content: center;
    }
    .header-right p {
      margin-top: 1rem;
    }
    .header-btn-md{
      width: 15rem;
      font-size: 1.2rem;
    }
    .contact-info.education h5,
    .contact-info.education h4,
    .about-section .box .text-title p {
      font-size: 2.3rem;
    }
    #img-container{
      display: grid;
      grid-template-columns: 1fr;
    }
  }
  
  @media screen and (min-width: 320px) and (max-width: 599px){
    #img-container{
      display: grid;
      grid-template-columns: 1fr;
    }
      .action-btn{
          display: block;
      }
      .header-btn-md{
          width: 18rem;
          font-size: 1.5rem;
      }
      .contact-info.education h5,
      .contact-info.education h4,
      .about-section .box .text-title p {
        font-size: 1.6rem;
    }
    ul > li > h5, .text-title > h5,
    .text-title > h4{
      font-size: 2rem;
    }
  }
  







/* @media (max-width:768px) { */

    .cursor,
    .cursor2 {
        display: none;
    }

    .about-section p {
        font-size: 2.5rem;
    }

    .button {
        margin-top: 3rem;
    }


/* @media (max-width:500px) { */

    .cursor,
    .cursor2 {
        display: none;
    }

    span.btn-chat,
    span.btn-download {
        padding: 0.3rem;
        font-size: 1.5rem;
    }

    .button {
        margin-top: 3rem;
    }


/* @media (min-width:20px) and (max-width:480px) { */

    .about-container.right-side {
        position: relative;
        background: #ccc6c6;
        padding-top: 0;
        margin-top: 0;
    }

    .contact-info.education h5 {
        font-size: 1.2rem;
    }

    .techs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .about-container .left-side {
        width: 100%;
        padding: 40px;
    }
    .about-section {
        font-size: 2.2rem;
    }

    span.btn-chat,
    span.btn-download {
        padding: .3rem;
        font-size: 1.2rem;
        border-radius: 8px;
        background-color: #753b04;
    }

    .button {
        margin-top: 3rem;
    }

    .text-quote span {
        font-size: 18px !important;
        text-align: center;
    }

    .profile-text h2 {
        font-size: 1.8rem;
    }
    .about-container .left-side .social-icons{
        margin-top: 0;
        padding-top: 0;
    }
    .about-container .left-side .social-icons a i{
        font-size: 2rem;
    }
